{% extends 'movie/frame.html' %}

{% block content  %}

  <h1>
    DELETE MOVIE
  </h1>

  <div>
    <form action="" method="POST">
      {% csrf_token  %}
       {{movieOne}}
       <!-- <button class="btn btn-primary" type="submit">

       </button> -->
      <input class="btn btn-primary" type="submit" value="delete">
    </form>
  </div>

  <div>
    <button type="button" class="btn btn-outline-info">
      <a href="{{request.META.HTTP_REFERER}}">Cancel</a>      
    </button>
  </div>
{% endblock %}