
{%  extends 'movie/frame.html' %}
{% block content %}

    {% if request.user.is_authenticated  %}
    <div class="container">
      
      <h1 class="px-6 py-3 text-lg font-bold bg-teal-500 text-black rounded-xl hover:bg-teal-700">
        Available movies for You|| <b> {{user.username}}</b> 
      </h1>

      <div class="block text-sm font-medium leading-6 text-gray-900">
    
        <h1 class="px-6 py-3 text-lg font-bold bg-teal-500 text-white rounded-xl hover:bg-teal-700">
          Movies
        </h1>
  
        <div>
  
          <ul>
            {% for movie in movies %}
            <br><br>
            <li>
               <a href="{% url 'movieOne' movie.id  %}">
                  [{{movie.id}}] <b class="text-gray-900">  {{movie.name}}</b>
                </a>
                <br>
                  <button class="bg-teal-500">
                    <a href="{% url 'edit' movie.id  %}">Edit</a>
                  </button>
                  <hr>
                  
                  <button class="text-orange">
                    <a href="{% url 'delete' movie.id  %}">delete</a>
                    <hr>
                  </button>

                  <form action="" method="POST">
                    {% csrf_token %}
                    <label for="">
                      Book a seat for this movie?
                      <input type="checkbox" name="isBooked" id="box">
                    </label>
                    <input type="submit" value="confirm">
                  </form>
              </li> 
            {% endfor %}
          </ul>
        </div>
        <br>
        <div>
          <hr>
          <p>
            {{user.username}}! You can add Your own movie to our theatre.
            <button style="background-color: orange;">
              <a href="{% url 'new' %}">Try Out</a>
            </button>
          </p>
          <a href="{% url 'book' %}">Check Booked Movie list!</a>
          <br>
          <hr>
          <a href="{% url 'logout' %}">logout</a>
          
        </div>
      </div>
      {% else %}
    <div class="block text-sm font-medium leading-6 text-gray-900">
    
      <h1 class="px-6 py-3 text-lg font-bold bg-teal-500 text-white rounded-xl hover:bg-teal-700">
        Movies
      </h1>

      <div>
        
        <ul>
          {% for movie in movies %}
          <a href="">
            <li>[{{movie.id}}] {{movie.name}}</li> 
          </a>
          {% endfor %}
        </ul>
      </div>
      <a href="{% url 'login' %}">login</a>
      {% endif %}

    </div>
  {% endblock content %}
