

{% include 'movie/frame.html'  %}

{% block content %}

<div class="container pt-5">
  <h1 class="font-monospace text-center">
    This is movie is called || 
    <p class="text-uppercase">
      <b>{{movie.name}}</b>
    </p
     
  </h1>

  <table class="table table-striped-columns m-4">
    <thead>
      <tr>
        <th>ID</th>
        <th>Day</th>
        <th>Price</th>
        <th>Hosted by</th>
      </tr>
    </thead>
    
    <tbody>
      <tr>
        <th>{{movie.id}}</th>
        <td>{{movie.created_at|timesince}}</td>
        <td>{{movie.price}}</td>
        <td>{{movie.created_by}}</td>
      </tr>
    </tbody>
  </table>

  
<button type="button" class="btn btn-outline-warning">
  <a href="{% url 'movies' %}">Go back</a>
  
</button>

</div>
{% endblock content %}